<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" />
</head>

<body>
    <center>
        <h1 class="ml15">
            <span class="word">A</span>
            <span class="word">Visualization</span>
            <span class="word">of</span>
            <span class="word">Global Methane</span>
            <span class="word">Emissions</span>
            <span class="word">by</span>
            <span class="word">Type</span>
        </h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <br>

        <a href="./piecharts"> <img src="./static/pollution_pie.png" alt="Girl in a jacket" width="450" height="265">
        </a>
        <a href="./worldmap"> <img src="./static/worldmap.png" width="450" height="265">
        </a>
        <a href="./energybars"> <img src="./static/methane_bar.png" width="450" height="265">
        </a>
        <h5>Click on Images to See Visualizations</h5>
    </center>
    <h3 style="text-align: left;">METHANE EXPLAINED</h3>
    <p style="text-align: left;">One of the largest contributers to a warming climate is Methane gas.
        Not only is it a significant contributer to climate change, but it also contributes to poor air quality.
        Sources of methane
        emissions include agriculture, energy, waste and others.</p>
    <h3 style="text-align: left;">GLOBAL ANALYSIS</h3>
    <p style="text-align: left;">This analysis uses a global data set of methane emissions to give perspective
        as to what regions of
        the world are contributing the most, and also identifies the sources of methane emissions by region
        across the globe.
    </p>
    <h3 style="text-align: left;">ENERGY RELATED METHANE EMISSIONS</h3>
    <p style="text-align: left;">A byproduct of gathering energy
        sources like natural gas, oil, and others can be methane gas. There are various ways this gas can be
        released or even saved for other use. Three options to
        release methane as a byproduct of energy harvesting are flaring, venting and fugitive. Venting is
        considered the worst as it involves
        a simple release to the atmosphere. Flaring involves burning the gas and reduces emissions but
        contribues to pollution in other ways. Fugitive is used to describe
        unwanted and uncontrolled release of methane emissions.</p>

    <p>Data Sources:<br />
    <ul>
        <li>
            <a href="https://www.kaggle.com/datasets/ashishraut64/global-methane-emissions">Dataset from Kaggle</a>
        </li>
        <li>
            <a
                href="https://earthworks.org/issues/flaring_and_venting/#:~:text=If%20the%20gas%20is%20flared,of%20carbon%20monoxide%20per%20well.">Earthworks</a>
        </li>
        <li>
            <a
                href="https://www.climate-chance.org/wp-content/uploads/2019/03/new-fugitive-emissions-a-blind-spot-in-the-fight-against-climate-change.pdf">Climate-Change.org</a>
        </li>
</body>


</html>

<script src="./static/Java-Animation.js"></script>